@font-face {
  font-family: "mainfont";
  src: url("../fonts/main.ttf") format("truetype");
}

.rounded-button {
  border-radius: 50px;
  padding: 13px 25px 13px 25px;
  font-family: "mainfont";
  cursor: pointer;
  border: 1px solid;
}
