@font-face {
  font-family: "mainfont";
  src: url("./fonts/main.ttf") format("truetype");
  /* You can add more src lines for different font file formats */
}
.main {
  background-color: black;
}
.coverDiv {
  position: relative;
  width: 100%;
  /* Adjust to your preference */
  color: whitesmoke;
  /* background-image: url("./assets/cover.jpg"); */
  background-color: black;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.coverText h1 {
  font-size: 60px;
  font-family: "mainfont";
}

.coverText p {
  font-size: 20px;
  margin-top: 20px;
}

.coverText {
  /* background-color: orange; */

  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.buttonclass {
  /* background-color: green; */
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}

.splineDiv {
  height: 370px;
}

.secondscreen {
  margin-top: 100px;
  padding: 50px;
  /* display: inline-block; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.secondscreen h1 {
  color: white;
  font-family: "mainfont";
}

.secondscreen p {
  color: white;
  font-family: "mainfont";
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}
.containers {
  margin-top: 200px;
  overflow-x: auto;
  padding: 30px;
  display: flex;

  gap: 20px;
}

.containers::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar for Chrome, Safari, and Edge */
  display: none; /* Hide the scrollbar for Firefox */
}
.button-container {
  margin-top: 30px;
  position: absolute;
  /* top: 10px; */
  right: 10px;
}

.custom-button {
  width: 60px;
  height: 60px;
  margin-top: 100px;
  background-color: #0ca1d311;
  backdrop-filter: blur(30px);
  color: white;
  border-radius: 50px;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .secondscreen {
    padding: 50px;
    display: flex;
    align-items: center;
    overflow: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
  }

  .coverText h1 {
    font-size: 35px;
    /* background-color: green; */
    font-family: "mainfont";
  }

  .coverText p {
    font-size: 15px;

    /* background-color: green; */
  }

  .coverText {
    /* background-color: orange; */
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .buttonclass {
    /* background-color: green; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    font-size: 14px;
  }

  .coverDiv {
    position: relative;
    width: 100%;
    height: 85vh; /* Adjust to your preference */
    color: whitesmoke;
    /* background-image: url("./assets/cover.jpg"); */
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .splineDiv {
    height: 370px;
  }
  .containers {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 100%;
    padding: 16px;
  }
}
