@font-face {
  font-family: "mainfont";
  src: url("./fonts/main.ttf") format("truetype");
  /* You can add more src lines for different font file formats */
}
.main {
  background-color: black;
}
.coverDiv {
  position: relative;
  width: 100%;
  /* Adjust to your preference */
  color: whitesmoke;
  /* background-image: url("./assets/cover.jpg"); */
  background-color: black;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.coverText h1 {
  font-size: 60px;
  font-family: "mainfont";
}

.coverText p {
  font-size: 20px;
}

.coverText {
  /* background-color: orange; */

  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.buttonclass {
  /* background-color: green; */
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}

.splineDiv {
  height: 400px;
}

.secondscreen {
  margin-top: 200px;
  padding: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto); /* Create 3 columns */
  gap: 20px; /* Add spacing between the cards */
}

@media (max-width: 900px) {
  .secondscreen {
    padding: 50px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
  }

  .coverText h1 {
    font-size: 35px;
    /* background-color: green; */
    font-family: "mainfont";
  }

  .coverText p {
    font-size: 15px;
    /* background-color: green; */
  }

  .coverText {
    /* background-color: orange; */
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .buttonclass {
    /* background-color: green; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    font-size: 14px;
  }

  .coverDiv {
    position: relative;
    width: 100%;
    height: 85vh; /* Adjust to your preference */
    color: whitesmoke;
    /* background-image: url("./assets/cover.jpg"); */
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .splineDiv {
    height: 370px;
  }
}
