@font-face {
  font-family: "mainfont";
  src: url("./fonts/main.ttf") format("truetype");
  /* You can add more src lines for different font file formats */
}

body {
  margin: 0;
  font-family: "mainfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
